bsddb3==6.2.7
conda==4.5.11
conda-build==2.0.2
json5==0.8.5
netaddr==0.7.19
numpy==1.18.1
path.py==0.0.0
pathlib2==2.1.0
pep8==1.7.0
pylint==1.5.4
pytest==2.9.2
rangehttpserver==1.2.0
selenium==3.141.0
virtualenv==16.7.9
